

@model ResetPasswordViewModel
<div class="row mt-5">
    <div class="col-md-6 offset-md-3 mt-5">
        <h2>Yeni Şifre Oluşturma</h2>

        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
        </div>


        <form asp-area="" asp-controller="Account" asp-action="ResetPassword" method="post">

            <div class="row mt-5 mb-3">
                <label for="OldPassword" class="col-md-4 col-form-label" asp-for="OldPassword"></label>
                <div class="col-md-8">
                    <input asp-for="OldPassword" type="password" class="form-control">
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="OldPassword" class="col-md-4 col-form-label" asp-for="NewPassword"></label>
                <div class="col-md-8">
                    <input asp-for="NewPassword" type="password" class="form-control">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="PasswordConfirm" class="col-md-4 col-form-label" asp-for="ConfirmPassword"></label>
                <div class="col-md-8">
                    <input asp-for="ConfirmPassword" type="password" class="form-control">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">

                <div class="col-md-8 offset-md-4">
                    <button type="submit" class="btn btn-primary">Şifre Güncelle</button>
                </div>
            </div>

        </form>
    </div>
</div>