@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<a class="dropdown-item" asp-area="Admin" asp-controller="Auth" asp-action="Logout">
    <i class="bx bx-power-off me-2"></i>
    <span class="align-middle">Log Out</span>
</a>